$screen_background: #141519;
$ratingBox_backbround: #1f2630;
$circleIcon_background: #262f38;
$button_background: #fc7613;

$rating_hover: hsl(216, 12%, 54%);
$rating_active: #fc7613;

@mixin circle($radius) {
  background-color: $circleIcon_background;
  border-radius: $radius;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(245, 245, 245, 0.801);
  background-color: $screen_background;
}

#ratingBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  padding: 2rem;

  background-color: $ratingBox_backbround;
  border-radius: 1rem;
  max-width: 24rem;
  max-height: 40rem;

  #ratingState {
    svg {
      @include circle(4rem);
      padding: 0.75rem;
      overflow: visible;
    }

    #ratingBox_heading {
      font-size: 1.5rem;
      margin-top: 1.5rem;
      color: white;
    }

    #ratingBox_paragrpah {
      font-size: 1rem;
      margin-top: 1rem;
      line-height: 1.5rem;
    }

    #ratingBox_ratings {
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .ratingBox_ratings_numbers {
        @include circle(50%);
        cursor: pointer;
        text-align: center;
        line-height: 3.5rem;
        margin: 0.5rem;
        width: 3.5rem;
        height: 3.5rem;

        &:hover {
          background-color: $rating_hover;
        }
        &:active {
          background-color: $rating_active;
        }
      }
      #ratingBox_ratings_numbers--chosen {
        background-color: $rating_hover
      }
    }

    #ratingBox_submitRating {
      cursor: pointer;
      border-radius: 2rem;
      height: 2.5rem;
      width: 23.25rem;
      margin-top: 2rem;

      color: white;
      background-color: $button_background;

      letter-spacing: 0.25rem;
      text-transform: uppercase;

      &:active {
        color: $button_background;
        background-color: white;
      }
    }
  }

  #thankYouState {
    svg {
      overflow: visible;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #ratingBox_confrimMssg {
      @include circle(2rem);
      color: $button_background;
      padding: 0.5rem;
      text-align: center;
      width: 12rem;
      margin-left: auto;
      margin-right: auto;
    }

    #ratingBox_heading--thankYouState {
      font-size: 1.5rem;
      margin-top: 1.5rem;
      text-align: center;
      color: white;
    }

    #ratingBox_paragraph--thankYouState {
      font-size: 1rem;
      margin-top: 1rem;
      line-height: 1.5rem;
      text-align: center;
    }
  }
}

.attribution {
  margin-top: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
