html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #19191b; }

#ratingBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 1.25rem;
  background-color: #222229;
  border-radius: 1rem;
  max-width: 50vh; }
  #ratingBox svg {
    background-color: #3636b3;
    border-radius: 4rem;
    overflow: visible;
    padding: .75rem; }
  #ratingBox #ratingBox_heading {
    font-size: 1.5rem;
    margin-top: 1.5rem; }
  #ratingBox #ratingBox_paragrpah {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5rem; }
  #ratingBox #ratingBox_ratings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    #ratingBox #ratingBox_ratings .ratingBox_ratings_numbers {
      background-color: #3636b3;
      border-radius: 50%;
      padding: 1rem; }
  #ratingBox #ratingBox_submitRating {
    border-radius: 2rem;
    height: 2.5rem;
    margin-top: .75rem;
    color: white;
    background-color: orange;
    letter-spacing: .25rem;
    text-transform: uppercase; }
