html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(245, 245, 245, 0.801);
  background-color: #141519; }

#ratingBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  padding: 2rem;
  background-color: #1f2630;
  border-radius: 1rem;
  max-width: 24rem;
  max-height: 40rem; }
  #ratingBox #ratingState svg {
    background-color: #262f38;
    border-radius: 4rem;
    padding: 0.75rem;
    overflow: visible; }
  #ratingBox #ratingState #ratingBox_heading {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: white; }
  #ratingBox #ratingState #ratingBox_paragrpah {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5rem; }
  #ratingBox #ratingState #ratingBox_ratings {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    #ratingBox #ratingState #ratingBox_ratings .ratingBox_ratings_numbers {
      background-color: #262f38;
      border-radius: 50%;
      cursor: pointer;
      text-align: center;
      line-height: 3.5rem;
      margin: 0.5rem;
      width: 3.5rem;
      height: 3.5rem; }
      #ratingBox #ratingState #ratingBox_ratings .ratingBox_ratings_numbers:hover {
        background-color: #7c8798; }
      #ratingBox #ratingState #ratingBox_ratings .ratingBox_ratings_numbers:active {
        background-color: #fc7613; }
    #ratingBox #ratingState #ratingBox_ratings #ratingBox_ratings_numbers--chosen {
      background-color: #7c8798; }
  #ratingBox #ratingState #ratingBox_submitRating {
    cursor: pointer;
    border-radius: 2rem;
    height: 2.5rem;
    width: 23.25rem;
    margin-top: 2rem;
    color: white;
    background-color: #fc7613;
    letter-spacing: 0.25rem;
    text-transform: uppercase; }
    #ratingBox #ratingState #ratingBox_submitRating:active {
      color: #fc7613;
      background-color: white; }
  #ratingBox #thankYouState svg {
    overflow: visible;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #ratingBox #thankYouState #ratingBox_confrimMssg {
    background-color: #262f38;
    border-radius: 2rem;
    color: #fc7613;
    padding: 0.5rem;
    text-align: center;
    width: 12rem;
    margin-left: auto;
    margin-right: auto; }
  #ratingBox #thankYouState #ratingBox_heading--thankYouState {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
    color: white; }
  #ratingBox #thankYouState #ratingBox_paragraph--thankYouState {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5rem;
    text-align: center; }

.attribution {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center; }

@media only screen and (max-width: 390px) {
  #ratingBox {
    transform: scale(0.925);
    padding: 1rem; }
    #ratingBox #ratingState {
      transform: scale(0.925); }
      #ratingBox #ratingState #ratingBox_paragrpah {
        line-height: 2rem; }
    #ratingBox #thankYouState {
      transform: scale(0.925); }
      #ratingBox #thankYouState #ratingBox_paragraph--thankYouState {
        line-height: 2rem; }
  .attribution {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; } }
